[server]
# What's needed to connect?
# Hosts can be many, separate them with commas
hosts=ldap.host,another.host
port=636
ldaps=1
timeout=60

[search]
# Put in what records you wanna find (and diff over time) here.
# Surround your filter with parens, especially if you need to
# do searches on multiple things, a la
# (&(objectClass=capedAvenger)(o=LegionOfDoom))
base=ou=superheroes,dc=marvel,dc=comics
filter=(objectClass=capedAvenger)
ignore_attrs=bigBinaryBlobField,crapIDontCareAbout

[creds]
# If you need to auth with the server in order to get the
# records you need, then enter the details below.
# If not, don't.
dn=heroName=Lobo,ou=superheroes,dc=marvel,dc=comics
pass=S4NT4DR00LZ

[display]
# Put anything you don't want displayed in your cron email here.
# Separated by commas, just like hosts
# Binary blob fields like jpegPhoto get annoying quick.
ignore_attrs=jpegPhoto

[prefs]
# Loglevels:
#  warn:  warn on errors, print diff.
#  error: die on errors, print diff. Recommended for crons.
#  info:  die on errors, print informational messages
#  debug: die on errors, also print debug & info messages
loglevel=error
